

.footer {
    flex-direction: column;
    font-family: "Inter", sans-serif, "DM Sans";
  background-color: #ebe5df;
  --color-title: #8a6e4e;
  --color-subtitle: #503f2b;
  --color-text: #000;
  text-align: center;
  padding: 3rem 2rem;
}

a {
    font-family: "Inter", sans-serif, "DM Sans";
    text-decoration: none;
    color: black;
}

.call-icon {
    vertical-align: middle;
}

.email-icon {
    vertical-align: middle;
}


.email {
    text-decoration: underline;
    color: black;
    font-size: 12px;
}

.developed {
    text-align: left;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.copyright {
    padding-top: 2rem;
}

h1 {
    font-size: 22px;
}
h2 {
    font-size: 18px;
}

p, a {
    font-size: 12px;
}

.tienda-sarria-link{
    color: black;
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: center;
    padding-top: 1rem;
    font-size: 0.8rem;
}