.footer {
    flex-direction: column;
    font-family: "Inter", sans-serif, "DM Sans";
  background-color: #ebe5df;
  --color-title: #8a6e4e;
  --color-subtitle: #503f2b;
  --color-text: #000;
  text-align: center;
}

a {
    font-family: "Inter", sans-serif, "DM Sans";
    text-decoration: none;
    color: black;
}

<<<<<<< HEAD
.call-icon {
    vertical-align: middle;
}

.email-icon {
    vertical-align: middle;
}


.email {
=======
.mail-container {
>>>>>>> 76994f81608d48eeefaca0babd4277e9dd02ea24
    text-decoration: underline;
    color: black;
    font-size: 12px;
}

.developed {
    text-align: left;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 18px;
}

p, a {
    font-size: 12px;
}

<<<<<<< HEAD
.tienda-sarria-link{
    color: black;
}
=======
.call-icon{
    vertical-align: middle;
}

.mail-icon {
    vertical-align: middle;
}
>>>>>>> 76994f81608d48eeefaca0babd4277e9dd02ea24
