

nav {
    position: fixed;
    top: 0;
    z-index: 1000; 
    background-color: var(--background-color-seconday);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    width: 100%;
}

.logo-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



.nav-icons {
    margin-left: auto;
}


/*----------QUERY DESKTOP------------------*/

@media (min-width: 768px) {

    nav {
        justify-content: space-between;
    }

    .logo-link {
        position: relative;
        left: auto;
        transform: none;
   
    }

    .nav-icons {
        position: relative;
    }


}

