.container-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  .main-image {
    width: 15rem;
  }
}
.container-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h4 {
    color: var(--color-subtitle);
    font-size: 1.6rem;
    font-weight: 400;
  }
  h5 {
    color: var(--color-subtitle);
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 1rem;
  }
  p {
    font-size: 1rem;
  }
}
.container-process {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.8rem;
  padding: 1rem;
  .process-img {
    width: 4.4rem;
    border-radius: 8px;
  }
}
.container-btns {
  border: 2px solid var(--color-subtitle);
  border-radius: 1.4rem;
  color: var(--color-subtitle);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 3rem;
  margin-top: 0.8rem;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25); /*Do we need this? ask UX/UI*/

  button {
    background-color: transparent;
    border: none;
  }
  img {
    width: 1.6rem;
  }
  p {
    font-size: 2.4rem;
  }
}
.add-chart {
  background-color: var(--color-subtitle);
  color: #fff;
  border: none;
  border-radius: 1.4rem;
  width: 15rem;
  height: 1.5rem;
  margin: 1.5rem;
  height: 3rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.toggle {
  background-color: #3c502b;
  color: #fff;
  border: 3px solid #3c502b;
  border-radius: 1.4rem;
  width: 15rem;
  height: 1.5rem;
  margin: 1.5rem;
  height: 3rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.icons {
  width: 2rem;
}

/*----------QUERY DESKTOP------------------*/

@media (min-width: 768px) {
  .container-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    .carousel {
      width: 24rem;
    }

  }
  .container-details {
    display: flex;
    flex-direction: column;
    align-content: space-between;

    width: 30rem;
    padding: 2rem 1rem;

    .all-btns {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .container-process-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 30rem;
    padding: 1.5rem;
    h4 {
      font-size: 1.6rem;
      color: var(--color-subtitle);
      font-weight: 400;
    }

    .container-process {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: start;
      flex-wrap: wrap;
      gap: 1.6rem;
      img {
        width: 8rem;
      }
    }
  }
}
