* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  --background-color-main: #FFFDFD;
  --background-color-seconday: #EBE5DF;
  --color-title: #8A6E4E;
  --color-subtitle: #503F2B;
  --color-text: #000;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "DM Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-primary);
}

p {
  font-family: var(--font-secondary);
}